<div class="home">
  <div class="home--content">
    <div class="home--content--header">
      <h2>Informe:</h2>
    </div>
    <div class="home--content--form">
      <div class="home--content--form--font">
        <p>*Defina quanto tempo o pote ficará aberto (em segundos):</p>
        <input [(ngModel)]="posts.openSeconds" class="home--content--form--time" type="number" placeholder="Informe o horário">
      </div>

      <div class="home--content--form--font">
        <p>*A partir de qual horário, começará a contagem (em horas)? </p>
        <input [(ngModel)]="posts.setOpen" class="home--content--form--time" type="number" placeholder="Informe o horário">
      </div>

      <div class="home--content--form--font">
        <p>*De quanto em quanto tempo ocorrerá a abertura (em horas)?</p>
        <input class="home--content--form--time" type="number" maxlength="2" placeholder="Informe o horário" [(ngModel)]="posts.startHour" >
      </div>
    </div>
  </div>
  <button class="button" [class.disabled]="!canPublish()" (click)="showData()">Enviar</button>
</div>
